body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 147, 246);
  height: 100vh;
  margin: 0;
  background-image: url('https://image2url.com/r2/default/images/1767373054909-68d9bc27-bd80-4c0f-9367-1f0bd0f46ea6.png');
  background-size: fill;
  font-family: sans-serif;
}

.form-container{
    background-color: hsl(0, 1%, 99%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
    height: auto;
    max-width: 500px;
  
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 0.50rem;
    border-radius: 8px;
    box-sizing : 50px;
    box-shadow: 0px 5px 8px hsl(180, 1%, 27%);
}
.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
}
.form-control:hover {
    border-color: hsl(179, 76%, 70%);
    border-style: groove;

}
.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-btn {
    width: 100%;
    background-color: hsl(179, 76%, 50%);
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;  
    text-decoration: none;
}
.login-btn:hover {
    background-color: hsl(179, 76%, 60%);
}

.footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.github-logo {
    width: 40px;        /* default size */
    max-width: 100%;
    height: auto;       /* keeps aspect ratio */
    transition: transform 0.3s ease;
}

/* Hover effect */
.github-logo:hover {
    transform: scale(1.1);
}

/* Responsive scaling */
@media (max-width: 600px) {
    .github-logo {
        width: 30px;
    }
}

